body .main {
  display: flex;
}

body .main .title {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  justify-content: center;
}

body .main .title .name {
  color: black;
  font-size: 40px;
}

body .main .title .words-wrapper {
  color: black;
  font-size: 20px;
}

body .main .title .words-wrapper .words {
  display: inline-grid;
  padding: 0 10px;
  border-radius: 6px;
  color: var(--color, #000);
}
body .main .title .words-wrapper .words span {
  grid-area: 1/1;
  display: none;
}
body .main .title .words-wrapper .words span.current {
  display: block;
  animation-name: rotate-text-up;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Animations */
@keyframes rotate-text-up { 
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in { 
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  
  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}